aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
ecdsa==0.14.1
idna==3.1
multidict==5.1.0
pyasn1==0.4.8
pycparser==2.20
python-jose==3.2.0
rsa==4.7.2
six==1.16.0
typing-extensions==3.10.0.0
yarl==1.6.3
